{% extends 'base.html' %} 

{% block main_content %} 
<div class="all-container">
{% if cheerups %}
    <h1 class="cheerup-heading">All Cheerups</h1>
    <ol>
        {% for cheerup in cheerups %}
        <li>
            <div class="poster-details">
                <a href="/user-profile/{{cheerup['userid']}}">
                    <p class="first_name">
                        <img class="avatar" src="{{cheerup['avatar_url']}}"/>
                        {{cheerup['first_name']}}
                    </p>
                </a>
            </div>
            <div class="cheerup">{{cheerup['cheerup']}}</div>
            <span class="find-out-more">+</span>
            <div class="user-details">
                <p>Cheerup Score: {{cheerup['rating']}}</p>
                {% if cheerup['weather'] %}
                <p>It was 
                    <img
                        class="weather-icon"
                        src="http://openweathermap.org/img/wn/{{cheerup['weather']}}.png"
                    />
                    when {{cheerup['first_name']}}'s posted this.
                </p>
                {% endif %} 
                {% if user_id %} 
                    {% if user_id != cheerup['userid'] %} 
                        {% if user_id not in cheerup['voters'] %}
                        <form
                            action="/upvote/{{cheerup['cheerupid']}}"
                            method="POST"
                        >
                            <button class="button" type="submit">
                                Upvote +1
                            </button>
                        </form>
                        {% endif %} 
                    {% endif %} 
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ol>
</div>

{% elif user_id %}
<section>
    <h2>
        There currently aren't any cheerups! Create the first one to make someone's day!
    </h2>
</section>
{% else %}
<section>
    <h2>
        There currently aren't any cheerups! Sign up or login to create the first one!
    </h2>
    <p>Make someones day!</p>
</section>
{% endif %} 


</div>
{% endblock main_content %}

{% block javascript %}
<script src="/static/javascript/cheerup-list.js"></script>
{% endblock javascript %}
