{% extends 'base.html' %} 
{% block main_content %} 
{% if cheerups %}
<div class="all-cheerups-container">
    <h1 class="cheerup-heading">All Cheerups</h1>
        <ol>
            {% for cheerup in cheerups %}
            <li class="cheerup-container">
                <div class="poster-details">
                    <a href="/user-profile/{{cheerup['userid']}}">
                        <p class="first_name">
                            <img class="avatar" src="{{cheerup[1]}}" />
                            {{cheerup['first_name']}}
                        </p>
                    </a>
                </div>
                <div class="cheerup">{{cheerup[0]}}</div>
                <span class="find-out-more">+</span>
                <div class="user-details">
                    <p>Cheerup Score: {{cheerup['rating']}}</p>
                    {% if cheerup['weather'] %}
                    <p>{{cheerup['first_name']}}'s weather:<img
                        class="weather-icon"
                        src="http://openweathermap.org/img/wn/{{cheerup['weather']}}.png"
                    /></p>
                    {% endif %} {% if user_id %} {% if user_id !=
                    cheerup['userid'] %} {% if user_id not in
                    cheerup['voters'] %}
                    <form
                        action="/upvote/{{cheerup['cheerupid']}}"
                        method="POST"
                    >
                        <button class="button" type="submit">
                            Upvote +1
                        </button>
                    </form>
                    {% endif %} {% endif %} {% endif %}
                </div>
            </li>
            {% endfor %}
        </ol>
    </div>

    {% elif user_id %}
    <h2>
        There currently aren't any cheerups! Create the first one to make
        someone's day!
    </h2>
    {% else %}
    <h2>
        There currently aren't any cheerups! Sign up or login to create the
        first one!
    </h2>
    <p>Make someones day!</p>
    {% endif %} {% if user_id %}
    <div class="main-content-container">
        <form action="\cheerup\create" method="post">
            <input
                class="input"
                type="text"
                placeholder="Add a cheerup"
                name="new_cheerup"
                required
            />
            <button class="button" type="submit">Sumbit</button>
        </form>
    </div>
    {% endif %}
</div>
{% endblock main_content %}

{% block javascript %}
<script src="/static/javascript/cheerup-list.js"></script>
{% endblock javascript %}
