{% extends 'base.html' %}

{% block content %}
<div class="container">
    <ol>
        {% if avatar %}
        <a href="/my-profile"><img class="curr-user-avatar" src={{avatar}}></a>
        {% endif %}
        {% for cheerup in cheerups %}
        <li class="cheerup-container">
            <div class="cheerup">
                <img class="avatar" src={{cheerup[1]}}>{{cheerup[0]}}
            </div>
            <div class="user-details">
                Current rating: {{cheerup['rating']}}
                <br/>
                Posted by: {{cheerup['first_name']}}
                {% if user_id %}
                    {% if user_id != cheerup['userid'] %}

                    <br/>
                    <form action="/upvote/{{cheerup['id']}}" method="POST">
                        <button type="submit">Upvote +1</button>
                    </form>
                    {% endif %}
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ol>

    {% if user_id %}
    <form action="\cheerup\create" method="post">
        <input type="text" placeholder="Add a cheerup" name="new_cheerup" required>
        <button class="submit" type="submit">Sumbit</button>
    </form>
    {% endif %}
</div>

{% endblock content %}