{% extends 'base.html' %}

{% block content %}
{% if cheerups %}
<div class="container">
    <ol>
        {% for cheerup in cheerups %}
        <li class="cheerup-container">
            <div class="cheerup" >
                {{cheerup[0]}}
            </div>
            <span class="find-out-more">+</span>
            <div class="user-details">
                <p>Current rating: {{cheerup['rating']}}</p>
                {% if cheerup['weather'] %}
                <img class="weather-icon" src="http://openweathermap.org/img/wn/{{cheerup['weather']}}.png">
                {% endif %}
                <p>Posted by:</p> <a href="/user-profile/{{cheerup['userid']}}"><img class="avatar" src={{cheerup[1]}}></a>
                {% if user_id %}
                    {% if user_id != cheerup['userid'] %}
                        {% if user_id not in cheerup['voters'] %}
                        <br/>
                        <form action="/upvote/{{cheerup['cheerupid']}}" method="POST">
                            <button class="button" type="submit">Upvote +1</button>
                        </form>
                        {% endif %}
                    {% endif %}
                {% endif %}
            </div>
        </li>
        {% endfor %}
    </ol>

{% elif user_id %}
<h2>There currently aren't any cheerups! Create the first one to make someone's day!</h2>
{% else %}
<h2>There currently aren't any cheerups! Sign up or login to create the first one!</h2>
<p>Make someones day!</p>
{% endif %}



    {% if user_id %}
    <form action="\cheerup\create" method="post">
        <input class="input" type="text" placeholder="Add a cheerup" name="new_cheerup" required>
        <button class="button" type="submit">Sumbit</button>
    </form>
    {% endif %}
</div>

{% block javascript %}

{% endblock javascript %}
<script src="/static/javascript/cheerup-list.js"></script>
{% endblock content %}