<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Cheer You Up</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet"> 
    <link href="/static/styles/base-style.css" rel="stylesheet">
    {% block additionalStyles %}{% endblock additionalStyles %}
</head>
<body>
    <header>
        <nav>
            <h3 id="logo">Cheer You Up</h3>
            <ul class="nav-ul">
                <li class="nav-li"><a href="/home">Home</a></li>
                {% if user_id %}
                <li class="nav-li"><a href="/sessions/destroy">Logout</a></li>
                {% if avatar %}
                <li class="avatar-li"><a href="/my-profile"><img class="nav-avatar" src={{avatar}}></a></li>
                {% endif %}
                {% else %}
                <li class="nav-li"><a href="/signup">Signup</a></li>
                <li class="nav-li"><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>
        {% block content %}{% endblock content %}
    </main>
    <footer>

    </footer>

{% block javascript %}
{% endblock javascript %}
</body>
</html>