<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three Cheers</title>

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet"> 

    <link href="/static/styles/base-style.css" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;1,500&display=swap" rel="stylesheet">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;1,500&family=Ubuntu+Mono:wght@700&display=swap" rel="stylesheet">
    
    {% block additionalStyles %}{% endblock additionalStyles %}
</head>
<body>
    <header>
        <nav>
            <h3 id="logo">Three Cheers</h3>
            <ul class="nav-ul">
                <li class="nav-li" id="home-text-li"><a href="/home">Home</a></li>
                <li class="nav-li" id="home-icon-li">
                    <a href="/home" id="home-icon-link">
                        <img src="/static/images/home-icon.png" alt="home" id="home-icon"/>
                    </a>
                </li>
                <li class="nav-li"><a href="/all-cheerups">All Cheerups</a></li>
                <li class="nav-li"><a href="/all-cheerupers">Cheerupers</a></li>
                {% if user_id %}
                <li class="nav-li"><a href="/sessions/destroy">Logout</a></li>
                {% if avatar %}
                <li class="avatar-li"><a href="/user-profile/{{user_id}}"><img class="nav-avatar" src={{avatar}}></a></li>
                {% endif %}
                {% else %}
                <li class="nav-li"><a href="/signup">Signup</a></li>
                <li class="nav-li"><a href="/login">Login</a></li>
                {% endif %}
            </ul>
        </nav>
    </header>
    <main>

        {% block top_content %} {% endblock top_content %}

        {% if user_id %}
        <section class="create-cheerup-container">
            <form id="create-cheerup-form" action="\cheerup\create" method="post">
                <input
                    class="input"
                    type="text"
                    placeholder="Add a cheerup"
                    name="new_cheerup"
                    maxlength="139"
                    required
                />
                <span id="visiblity-container">
                    <label for="visibility">Make Private: </label>
                    <input type="checkbox" id="visibility" name="visibility">
                </span>
                <button class="button" type="submit">Sumbit</button>
            </form>
        </section>
        {% endif %}
        
        {% block main_content %}{% endblock main_content %}
    </main>
    <footer>
        
    </footer>

    {% block javascript %}
    {% endblock javascript %}
</body>
</html>