<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Three Cheers</title>

    <link href="/static/styles/base-style.css" rel="stylesheet">
    <link href="/static/images/logo.png" rel="icon">

    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Parisienne&display=swap" rel="stylesheet"> 

    <link href="https://fonts.googleapis.com/css2?family=Rubik:ital,wght@0,600;1,500&display=swap" rel="stylesheet">

    <link href="https://fonts.googleapis.com/css2?family=Arvo:wght@700&family=Parisienne&display=swap" rel="stylesheet">
    
    {% block additionalStyles %}{% endblock additionalStyles %}
</head>
<body>
    <header>
        <nav>
            <table>
                <tr>
                    <th id="logo-table-heading">
                        <img src="/static/images/logo.png" alt="logo" id="logo">
                    </th>
                    <th id="company-name"><span id="company-name-logo">Three Cheers</span></th>
                    <th id="home-text-li" class="nav-button">
                        <a href="/home">
                            <p>Home</p>
                        </a>
                    </th>
                    <th id="home-icon-link" class="nav-button">
                        <a href="/home" id="home-icon-link">
                            <img src="/static/images/home-icon.png" alt="home" id="home-icon"/>
                        </a>
                    </th>
                    <th class="nav-button">
                        <a href="/all-cheerups">
                            <p>All Cheerups</p>
                        </a>
                    </th>
                    <th class="nav-button">
                        <a href="/all-cheerupers">
                            <p>Cheerupers</p>
                        </a>
                    </th>

                    {% if user_id %}
                    <th class="nav-button">
                        <a href="/sessions/destroy">
                            <p>Logout</p>
                        </a>
                    </th>
                    {% else %}
                    <th class="nav-button">
                        <a href="/signup">
                            <p>Signup</p>
                        </a>
                    </th>
                    <th class="nav-button">
                        <a href="/login">
                            <p>Login</p>
                        </a>
                    </th>
                    {% endif %}
                </tr>
            </table>
            {% if avatar %}
            <a href="/user-profile/{{user_id}}" class="nav-button">
                <img class="nav-avatar" src={{avatar}}>
            </a>
            {% endif %}
        </nav>
    </header>
    <main>

        {% block top_content %} {% endblock top_content %}

        {% if user_id %}
        <section class="all-container" id="create-cheerup-container">
            <form id="create-cheerup-form" action="\cheerup\create" method="post">
                <input
                    class="input"
                    type="text"
                    placeholder="Add a cheerup"
                    name="new_cheerup"
                    maxlength="139"
                    required
                />
                <span id="visiblity-container">
                    <label for="visibility">Make Private: </label>
                    <input type="checkbox" id="visibility" name="visibility">
                </span>
                <button class="button" type="submit">Sumbit</button>
            </form>
        </section>
        {% endif %}

        <section>
            {% if status_message and status %}
            <div class="status-container">
                {% if 'success' in status %}
                    <p class="success">{{status_message}}</p>
                {% elif 'error' in status %}
                    <p class="error">{{status_message}}</p>
                {% endif %}
            </div>
            {% endif %}    
        </section>
        
        {% block main_content %}{% endblock main_content %}
    </main>

    
    <footer>
        <aside id="footer-banner">
            <p>Powered by <a href="https://dashboard.heroku.com/">Heroku</a></p>
            <p>Code base: <a href=https://github.com/kdaya001/cheer-you-up>GitHub</a></p>
        </aside>
    </footer>

    {% block javascript %}
    {% endblock javascript %}
</body>
</html>