body {
    box-sizing: border-box;
    margin: auto 0;
    font-family: 'Rubik', sans-serif;
}

.avatar {
    width: 25px;
    height: 25px;
}

.weather-icon {
    width: 35px;
    height: 35px;
}

#company-name {
    font-family: 'Arvo', serif;
    text-align: left;
}

#home-icon {
    max-width: 25px;
    max-height: 25px;
    
}

#home-icon-li {
    display: none;
}

form select {
    padding: 10px 20px;
}

ol {
    counter-reset: li;
    padding: 0 30px;
}

ol li {
    position: relative;
    display: block;
    padding: 0.4em 0.4em 0.4em 2em;
    margin: 0.5em 0;
    background-color: rgb(255, 255, 255);
    color: #444;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.14);
    word-wrap:break-word;
}

ol li:after {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: linear-gradient(to right, #9c27b0, #e040fb);
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: 0.3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    color: white;
}

.user-details {
    display: none;
    align-items: flex-end;
    flex-direction: column;
}

.user-details > * {
    margin: 0;
    font-family: 'Rubik', sans-serif;
    font-size: 0.8em;
}

.button,
.submit,
button {
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9c27b0, #e040fb);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin: 5px 20px;
}

input {
    width: 76%;
    font-weight: bold;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    background-color : #d1d1d1; 
}

.avatar-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav-avatar, #logo {
    width: 30px;
    height: 30px;
}

#company-name-logo {
    padding-right: 15px;
}

#logo-table-heading {
    padding-right: 0px;
}

#logo {
    border-radius: 5px;
    padding-left: 0px;
}

.nav-avatar {
    margin: 10px;
    padding: 5px;
    background-color: rgb(99, 202, 202);
    border-radius: 40px;
}

.avatar-li {
    float: right;
    background-color: rgb(87, 160, 148);
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: .5px solid rgb(182, 182, 182);
}

.cheerup-content-container {
    margin: 0 auto;
    border-radius: 1em;
}

.cheerup {
    text-align: center;
    font-size: 1.1em;
    font-family: 'Ubuntu Mono', monospace;
}

.first_name {
    font-size: 0.8em;
    font-weight: bold;
    text-decoration: underline;
    font-family: 'Rubik', sans-serif;
}

.cheerup-heading, .cheerupers-heading, .cheerup-table-heading {
    font-family: 'Rubik', sans-serif;
    padding-left: 15px;
    padding-top: 15px;
}

.cheerup-heading, .cheerup-heading {
    font-size: 1.5em;
}

.cheerup-table-heading {
    background-color: #E0F7FA;
}

.all-container {
    grid-column: 1 / span 1;
    background-color: #ffffff;
    margin: 0 auto;
    margin-bottom: 30px;
    padding-bottom: 30px;
    width: 80%;
    border-radius: 1em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#create-cheerup-form {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.create-cheerup-container {
    margin: 0 auto;
    max-width: 90%;
    margin-top: 10px;
    background-color: wheat;
    padding-bottom: 20px;
}

.weather-icon {
    padding: 0;
    margin: 0;
}
.alt-text-container {
    padding: 20px;
    text-align: center;
}

#home-icon-link {
    display: none;
    padding: 15px 0px;

}

th {
    text-align: left;
    padding: 10px;
}

tr td {
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 10px 15px;
}

table {
    border-collapse: collapse;
    table-layout: auto;
}

table * {
    text-decoration: none;
    color: black;
}

a p:hover {
    color: teal;
}

.nav-button:hover {
    background-color: wheat;
}

.cheerup-table {
    width: 100%;
}

@media only screen and (max-width: 900px) {
    .cheerup-content-container {
        display: flex;
        flex-direction: column;
    }
    
    button {
        margin: auto 0;
    }

    #create-cheerup-form {
        flex-direction: column;
        align-items: center;
    }

    #visiblity-container {
        white-space: nowrap;
    }

    #home-icon-link {
        display: block;
        color: black;
    }

    #home-text-li {
        display: none;
    }

    #company-name-logo {
        padding-right: 0px;
    }

    .nav-button {
        padding-top: 7.5px;
    }
}
