.avatar {
    width: 20px;
    height: 20px;
}

.weather-icon {
    width: 35px;
    height: 35px;
}

#logo {
    font-family: 'Parisienne', cursive;
    font-size: 3rem;
}

ol {
    counter-reset: li;
    padding: 0 30px;
}

ol li {
    position: relative;
    display: block;
    padding: 0.4em 0.4em 0.4em 2em;
    margin: 0.5em 0;
    background: #dad2ca;
    color: #444;
    border-radius: 0.5em;
    box-shadow: 0px 5px 10px 1px rgba(0, 0, 0, 0.14);
}

ol li:before {
    content: counter(li);
    counter-increment: li;
    position: absolute;
    left: -1.3em;
    top: 50%;
    margin-top: -1.3em;
    background: linear-gradient(to right, #9c27b0, #e040fb);
    height: 2em;
    width: 2em;
    line-height: 2em;
    border: 0.3em solid #fff;
    text-align: center;
    font-weight: bold;
    border-radius: 2em;
    color: white;
}

.container {
    padding: 40px 0;
    background-color: #ffffff;
    margin: 0 auto;
    width: 450px;
    border-radius: 1em;
}

@media only screen and (min-width: 900px) {
    .container {
        display: grid;
        grid-template-columns: 0.5fr 8fr 0.5fr;
        grid-template-rows: 3fr 1fr;
        width: 80%;
    }

    ol {
        grid-column: 2 / span 1;
    }

    ol li {
        font-size: 1.2em;
    }

    form {
        grid-row: 2 / span 1;
        grid-column: 2 / span 1;
    }
}

.user-details {
    display: none; 
}

.button,
.submit {
    border-radius: 5em;
    color: #fff;
    background: linear-gradient(to right, #9c27b0, #e040fb);
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
}

input {
    width: 76%;
    font-weight: bold;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border-radius: 20px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    margin-bottom: 30px;
    margin-left: 46px;
    text-align: center;
}

body {
    margin: 0;
}

.nav-ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    background-color: rgb(51, 59, 50);
    position: fixed;
    top: 0;
    width: 100%;
}

.nav-li {
    float: left;
}

.nav-li a, .avatar-li a {
    display: block;
    color: white;
    text-align: center;
    padding: 16px;
    text-decoration: none;
}

.nav-li a:hover:not(.active) {
    background-color: #111;
}

.nav-avatar {
    width: 20px;
    height: 20px;
}

.avatar-li {
    float: right;
}