body {
    box-sizing: border-box;
    font-family: 'Outfit', sans-serif;
    background: rgba(90, 200, 250, 0.08);
}

.avatar {
    width: 48px;
    height: 48px;
}

.weather-icon {
    width: 48px;
    height: 48px;
}

#company-name {
    text-align: left;
}

#home-icon-li {
    display: none;
}

form select {
    padding: 10px 20px;
}

.user-details {
    display: none;
    align-items: flex-start;
    flex-direction: column;
}

.user-details > * {
    margin: 0;
    font-size: 0em;
}

input {
    width: 76%;
    font-weight: bold;
    letter-spacing: 1px;
    background: rgba(136, 126, 126, 0.04);
    padding: 10px 20px;
    border-radius: 10px;
    box-sizing: border-box;
    border: 2px solid rgba(0, 0, 0, 0.02);
    text-align: center;
    background-color: #e0f7fa;
}

.nav-avatar,
#logo {
    width: 40px;
    height: 40px;
}

#company-name-logo {
    padding-right: 15px;
}

#logo-table-heading {
    padding-right: 0px;
}

#logo {
    border-radius: 5px;
    padding-left: 0px;
}

.nav-avatar {
    margin: 10px;
    padding: 5px;
    background-color: rgb(99, 202, 202);
    border-radius: 40px;
}

nav {
    display: flex;
    justify-content: space-between;
    border-bottom: 0.5px solid rgb(182, 182, 182);
    margin-bottom: 15px;
}

.first_name {
    text-decoration: underline;
}

.cheerup-heading,
.cheerupers-heading,
.cheerup-table-heading {
    padding-left: 24px;
    padding-top: 20px;
}

.cheerup-heading,
.cheerup-heading {
    font-size: 1.5em;
}

.cheerup-table-heading {
    background-color: rgba(90, 200, 250, 0.3);
}

.all-container {
    background-color: #ffffff;
    margin: 0 auto;
    padding-bottom: 30px;
    width: 80%;
    border-radius: 1em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

#create-cheerup-form {
    text-align: center;
    display: flex;
    justify-content: center;
    padding-top: 40px;
}

.create-cheerup-container {
    margin: 0 auto;
    max-width: 90%;
    margin-top: 10px;
    padding-bottom: 20px;
}

.weather-icon {
    padding: 0;
    margin: 0;
}
.alt-text-container {
    padding: 20px;
    text-align: center;
    margin-top: 20px;
}

#home-icon-link {
    display: none;
    padding: 15px 0px;
}

th {
    text-align: left;
    padding: 12px;
}

tr td {
    border-bottom: 1px solid rgb(190, 190, 190);
    padding: 10px 15px;
}

table {
    border-collapse: collapse;
    table-layout: auto;
}

table * {
    text-decoration: none;
    color: black;
}

a p:hover {
    color: #5ac8fa;
}

.nav-button:hover {
    background-color: rgba(90, 200, 250, 0.2);
}

.cheerup-table {
    width: 100%;
}

.user-information {
    text-align: left;
    padding-left: 32px;
}

button {
    border-radius: 10px;
    border: none;
    padding: 0 10px;
    background-color: #5ac8fa;
}

button:hover {
    background-color: wheat;
}

.submit,
button {
    border-radius: 5em;
    color: #fff;
    background: #5ac8fa;
    border: 0;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 10px;
    padding-top: 10px;
    font-family: sans-serif;
    font-size: 13px;
    box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.04);
    margin: 5px 20px;
}

.status-container {
    text-align: center;
    margin-bottom: 15px;
}

.error {
    color: red;
}

.success {
    color: green;
}

.cheerup {
    text-align: left;
    hyphens: auto;
    overflow-wrap: break-word;
}

.user-details-container {
    width: 25%;
}

#footer-banner {
    text-align: right;
    margin-right: 30px;
}

#footer-banner {
    text-align: center;
}

#footer-banner p {
    font-size: 10px;
    color: gray;
}

@media only screen and (max-width: 900px) {
    .cheerup-content-container {
        display: flex;
        flex-direction: column;
    }

    button {
        margin: auto 0;
    }

    #create-cheerup-form {
        flex-direction: column;
        align-items: center;
    }

    #visiblity-container {
        white-space: nowrap;
    }

    #home-text-li {
        display: none;
    }

    #company-name-logo {
        padding-right: 0px;
    }

    .nav-button {
        padding-top: 7.5px;
    }

    table > * {
        font-size: 0.7em;
    }

    button {
        margin: 4px 0;
    }
}
