.form_login, .form_signup {
    padding-top: 40px;
    background-color: #FFFFFF;
    margin: 0 auto;
    width: 400px;
    border-radius: 1em;
    box-shadow: 0px 11px 35px 2px rgba(0, 0, 0, 0.14);
}

.form_login {
    height: 350px;
}

.form_signup {
    height: 500px;
}
    
h1 {
    text-align: center;
    font-family: sans-serif;
}