{% extends 'base.html' %}

{% block main_content %} 
<div class="all-container">
    {% if cheerupers %}
    <section>
        <h1 class="cheerupers-heading">All Cheerupers</h1>
            <ol>
                {% for cheeruper in cheerupers %}
                <li class="cheeruper-container">
                    <div class="poster-details">
                        <a href="/user-profile/{{cheeruper['id']}}">
                            <p class="first_name">
                                <img class="avatar" src="{{cheeruper['avatar_url']}}" />
                                {{cheeruper['first_name']}}
                            </p>
                        </a>
                    </div>
                    <p>Score: {{cheeruper['score']}}</p>
                </li>
                {% endfor %}
            </ol>
    </section>
    {% else %}
    <section class="alt-text-container">
        <h2>
            There currently aren't any cheeruper! Sign up be the
            first one!
        </h2>
        <p>Help make someones day!</p>
    </section>
    {% endif %}
</div>

{% endblock main_content %}