{% extends 'base.html' %}

{% block main_content %} 
<section class="all-container">
    {% if cheerupers %}
    <section>
        <h3 class="cheerup-heading">All Cheerupers</h3>
        <table class="cheerup-table">
            <tr class="cheerup-table-heading">
                <th>Name</th>
                <th>Score</th>
            </tr>
            {% for cheeruper in cheerupers %}
            <tr>
                <td>
                    <div class="poster-details">
                        <a href="/user-profile/{{cheeruper['id']}}">
                            <p class="first_name">
                                <img class="avatar" src="{{cheeruper['avatar_url']}}" />
                                {{cheeruper['first_name']}}
                            </p>
                        </a>
                    </div>
                </td>
                <td><p>Score: {{cheeruper['score']}}</p></td>
            </tr>
            {% endfor %}
        </table>
    </section>
    {% else %}
    <section class="alt-text-container">
        <h2>
            There currently aren't any cheeruper! Sign up be the
            first one!
        </h2>
        <p>Help make someones day!</p>
    </section>
    {% endif %}
</section>

{% endblock main_content %}