{% extends 'base.html' %}

{% block additionalStyles %}
<link href="/static/styles/profile.css" rel="stylesheet">
{% endblock additionalStyles %}

{% block main_content %}
<div class="user-container">
    {% if cheerups %}
    <h2>{{cheerups[0]['first_name']}}'s Profile</h2>
    <p>Summary:</p>
    <p>
        Total Cheerup Score: {{cheerups[0]['score']}}
    </p>
</div>

<div class="content-container">
    <ol>
        {% for cheerup in cheerups %}
        <li class="cheerup-container">
            <div class="cheerup">{{cheerup['cheerup']}}</div>
            <form action="/delete/{{cheerup['cheerupid']}}" method="POST">
                <button type="submit" value="Submit">Delete</button>
            </form>
        </li>
        {% endfor %}
    </ol>
    {% else %}
    <p>You do not have any cheerups</p>
    {% endif %}
</div>
{% endblock main_content %}
