{% extends 'base.html' %}

{% block additionalStyles %}
<link href="/static/styles/profile.css" rel="stylesheet">
{% endblock additionalStyles %}

{% block main_content %}
{% if current_user %}
<div id="easter-egg-container">
    <p>You found an easter egg!</p>
    <p>{{easter_egg}}</p>
</div>
{% endif %}

<div class="user-container">
    <h2>{{cheerups[0]['first_name']}}'s Profile</h2>
    <p>Summary:</p>
    <p>
        Total Cheerup Score: {{cheerups[0]['score']}}
    </p>
</div>

{% if cheerups %}
<div class="content-container">
    <ol>
        {% for cheerup in cheerups %}
        {% if cheerup['cheerup'] != None %}
            <li class="cheerup-container">
                <div class="poster-details">
                    <a href="/user-profile/{{cheerup['userid']}}">
                        <p class="first_name">
                            <img class="avatar" src="{{cheerup['avatar_url']}}" />
                            {{cheerup['first_name']}}
                        </p>
                    </a>
                    {% if current_user %}
                    <form id="delete-form" action="/delete/{{cheerup['cheerupid']}}" method="POST">
                        <button type="submit" value="Submit">Delete</button>
                    </form>
                    {% endif %}
                </div>
                <div class="cheerup">{{cheerup['cheerup']}}</div>
                <span class="find-out-more">+</span>
                <div class="user-details">
                    <p>Cheerup Score: {{cheerup['rating']}}</p>
                    {% if cheerup['weather'] %}
                    <p>{{cheerup['first_name']}} weather:<img
                        class="weather-icon"
                        src="http://openweathermap.org/img/wn/{{cheerup['weather']}}.png"
                    /></p>
                    {% endif %} 
                    {% if user_id %} 
                        {% if user_id != cheerup['userid'] %} 
                            {% if user_id not in cheerup['voters'] %}
                            <form
                                action="/upvote/{{cheerup['cheerupid']}}"
                                method="POST"
                            >
                                <button class="button" type="submit">
                                    Upvote +1
                                </button>
                            </form>
                            {% endif %} 
                        {% endif %} 
                    {% endif %}
                </div>
            </li>
        {% else %}
            {% if current_user %}
            <p>You do not have any cheerups</p>
            {% else %}
            <p>{{cheerup['first_name']}} does not have any cheerups posted right now</p>
            {% endif %}
        {% endif %}
        {% endfor %}
    </ol>
</div>
{% else %}

{% endif %}
{% endblock main_content %}
<div class="content-container">
    <p>This user has not posted any cheerups</p>
</div>

{% block javascript %}
<script src="/static/javascript/cheerup-list.js"></script>

{% if current_user %}
<script src="/static/javascript/easter-egg.js"></script>
{% endif %}

{% endblock javascript %} 