{% extends 'base.html' %}

{% block additionalStyles %}
<link href="/static/styles/profile.css" rel="stylesheet">
{% endblock additionalStyles %}

{% block main_content %}
{% if current_user %}
<aside id="easter-egg-container">
    <p>You found an easter egg!</p>
    <p>{{easter_egg}}</p>
</aside>
{% endif %}

<section class="user-container">
    <h2>{{cheerups[0]['first_name']}}'s Profile</h2>
    <p>Summary:</p>
    <p>
        Total Cheerup Score: {{cheerups[0]['score']}}
    </p>
    {% if current_user %}
        {% if update_profile %}
            {% for item in update_status %}
            {{item}}
            {% endfor %}
        {% endif %}
    <form action="/update-profile/{{user_id}}" methods="POST">
        <button type="submit">Update Profile</button>
    </form>
    {% endif %}
</section>


{% if cheerups %}
<section class="content-container">
    <ol>
        {% for cheerup in cheerups %}
        {% if cheerup['cheerup'] != None %}
        <li>
            <a href="/user-profile/{{cheerup['userid']}}">
                <p class="first_name">
                    <img class="avatar" src="{{cheerup['avatar_url']}}" />
                    {{cheerup['first_name']}}
                </p>
            </a>
            <!-- If the logged in user is viewing their own profile, allow them to delete posts -->
            {% if current_user %}
                <!-- If the post is currently private let the user change to public -->
                {% if cheerup['public_visible'] %}
                <form class="visibility-form" action="/update-visibility/{{cheerup['cheerupid']}}" method="POST">
                    <button type="submit" value="Submit">Make Private</button>
                </form>
                {% else %}
                <form class="visibility-form" action="/update-visibility/{{cheerup['cheerupid']}}">
                    <button type="submit" value="Submit">Make Public</button>
                </form>
                {% endif %}

            <form id="delete-form" action="/delete/{{cheerup['cheerupid']}}" method="POST">
                <button type="submit" value="Submit">Delete</button>
            </form>
            {% endif %}
            <div class="cheerup">{{cheerup['cheerup']}}</div>
            <span class="find-out-more">+</span>
            <div class="user-details">
                <p>Cheerup Score: {{cheerup['rating']}}</p>
                {% if cheerup['weather'] %}
                <p>{{cheerup['first_name']}}'s weather:
                    <img
                        class="weather-icon"
                        src="http://openweathermap.org/img/wn/{{cheerup['weather']}}.png"
                    />
                </p>
                {% endif %} 
                {% if user_id %} 
                    {% if user_id != cheerup['userid'] %} 
                        {% if user_id not in cheerup['voters'] %}
                        <form
                            action="/upvote/{{cheerup['cheerupid']}}"
                            method="POST"
                        >
                            <button class="button" type="submit">
                                Upvote +1
                            </button>
                        </form>
                        {% endif %} 
                    {% endif %} 
                {% endif %}
            </div>
        </li>
        {% else %}
            <!-- If the user logged in is viewing their own profile and have no cheerups posted -->
            {% if current_user %}
            <p>You do not have any cheerups</p>
            <!-- If the user is viewing someone elses profile and the user their viewing does not have any posts. This is only for users that have previously posted and have scores, etc -->
            {% else %}
            <p>{{cheerup['first_name']}} does not have any cheerups posted right now</p>
            {% endif %}
        {% endif %}
        {% endfor %}
    </ol>
</section>

<!-- If the user is viewing someone elses profile and the user their viewing does not have any posts and has never posted. -->
{% else %}
<section class="content-container">
    <p>This user has not posted any cheerups</p>
</section>
{% endif %}

{% endblock main_content %}

{% block javascript %}
<script src="/static/javascript/cheerup-list.js"></script>
{% if current_user %}
<script src="/static/javascript/easter-egg.js"></script>
{% endif %}
{% endblock javascript %} 