{% extends 'base.html' %}

{% block additionalStyles %}
<link href="/static/styles/login.css" rel="stylesheet">
{% endblock additionalStyles %}

{% block top_content %}
<section class="content-container">
    <form action="/update-profile/{{user_details['id']}}" method="POST" class="form_update">
        <label for="f_name">First Name:</label>
        <br/>
        <input type="text" placeholder="{{user_details['first_name']}}" name="f_name">
        <br/>
        <label for="f_name">Last Name:</label>
        <br/>
        <input type="text" placeholder="{{user_details['second_name']}}" name="l_name">
        <br/>
        <label for="email">Email:</label>
        <br/>
        <input type="text" placeholder="{{user_details['email']}}" name="email">
        <br/>
        <label id="password_label">Password:</label>
        <br/>
        <input type="password" placeholder="Confirm Old Password" name="password_conf_1">
        <br/>
        <input type="password" placeholder="Enter New Password" name="password_conf_1">
        <br/>
        <input type="password" placeholder="Enter New Password" name="password_conf_2">
        <button class="submit" type="submit">Update</button>

    </form>
</section>
{% endblock top_content %}
