{% extends 'base.html' %}

{% block additionalStyles %}
<link href="/static/styles/profile.css" rel="stylesheet">
{% endblock additionalStyles %}

{% block main_content %}
<div class="user-container">
    <h2>{{cheerups[0]['first_name']}}'s Profile</h2>
    <p>Summary:</p>
    <p>
        Total Cheerup Score: {{cheerups[0]['score']}}
    </p>
</div>

{% if cheerups %}
<div class="content-container">
    <ol>
        {% for cheerup in cheerups %}
        {% if cheerup['cheerup'] != None %}
            <li class="cheerup-container">
                <div class="poster-details">
                    <a href="/user-profile/{{cheerup['userid']}}">
                        <p class="first_name">
                            <img class="avatar" src="{{cheerup['avatar_url']}}" />
                            {{cheerup['first_name']}}
                        </p>
                    </a>
                </div>
                <div class="cheerup">{{cheerup['cheerup']}}</div>
                <span class="find-out-more">+</span>
                <div class="user-details">
                    <p>Cheerup Score: {{cheerup['rating']}}</p>
                    {% if cheerup['weather'] %}
                    <img
                        class="weather-icon"
                        src="http://openweathermap.org/img/wn/{{cheerup['weather']}}.png"
                    />
                    {% endif %} 
                    {% if user_id %} 
                        {% if user_id != cheerup['userid'] %} 
                            {% if user_id not in cheerup['voters'] %}
                            <form
                                action="/upvote/{{cheerup['cheerupid']}}"
                                method="POST"
                            >
                                <button class="button" type="submit">
                                    Upvote +1
                                </button>
                            </form>
                            {% endif %} 
                        {% endif %} 
                    {% endif %}
                </div>
            </li>
        {% else %}
        <p>{{cheerup['first_name']}} does not have any cheerups posted right now</p>
        {% endif %}
        {% endfor %}
    </ol>
</div>
{% else %}

{% endif %}
{% endblock main_content %}
<div class="content-container">
    <p>This user has not posted any cheerups</p>
</div>

{% block javascript %}
<script src="/static/javascript/cheerup-list.js"></script>
{% endblock javascript %} 